/* Root */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.nav-button-login, .nav-button-register {
  width: 10rem;
}

/* Für Login */
.login-page {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input.form-first {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input.form-middle {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-signin input.form-last {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}